/* carousel image size  */
.carousel-bg {
    filter: brightness(50%);
}



/* get started button color  */
.button-color {
    background-color: #289BDE;
}

.button-color:hover {
    background-color: rgb(56, 56, 104);
    border-color: rgb(56, 56, 104);
}

/* courses  */



/* star color  */
.star-color {
    color: #F59E0B;
}

/* quotation color  */
.quotation-color {
    color: #D2D2D2;
}

/* regiser now section  */
.bg-color {
    background-color: #289BDE;
}