/* carousel image size  */
.carousel-bg {
    filter: brightness(50%);
}



/* get started button color  */
.get-started {
    background-color: #289BDE;
}

.get-started:hover {
    background-color: rgb(56, 56, 104);
    border-color: rgb(56, 56, 104);
}

/* courses  */
.img-size {}

/* text size  */
@include media-breakpoint-up(sm) {
    .text-size {
        height: 25% !important;
    }
}